[submodule "basic/Objective-C"]
	path = basic/Objective-C
	url = git@github.com:sendbird/SendBird-iOS-ObjectiveC.git
[submodule "basic/Swift"]
	path = basic/Swift
	url = git@github.com:sendbird/SendBird-iOS-Swift.git
[submodule "syncmanager/SyncManager-Swift"]
	path = syncmanager/SyncManager-Swift
	url = git@github.com:sendbird/SyncManager-iOS-Swift.git
